@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model StoreSystemManagementWebApplication.Models.Entities.Product

<h1>Edit Product</h1>

@if(Model is null){ 
    <p> No Product was found with this id </p>
}else{
    

<form method="post">

    <div calss="mt-3">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id"  readonly/>

    </div>

    <div calss="mt-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div calss="mt-3">
        <label class="form-label">Description</label>
        <input type="text" class="form-control" asp-for="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>


    <div calss="mt-3">
        <label class="form-label">Price</label>
        <input type="number" class="form-control" asp-for="Price" step="any" />
         <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div calss="mt-3">
        <label class="form-label">Quantity</label>
        <input type="number" class="form-control" asp-for="Quantity" />
        <span asp-validation-for="Quantity" class="text-danger"></span>

    </div>

    <div calss="mt-3">
        <label class="form-label">Category</label>
        <input type="text" class="form-control" asp-for="Category" />
            <span asp-validation-for="Category" class="text-danger"></span>
    </div>
    <br />
    <div calss="mt-3">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>

</form>
}